@use "./breakpoint" as u;



footer {
  .media {
    padding: 2rem 0;
    background-color: var(--nav-black);
    display: block;
    width: 100vw;
  }

  ul {
    display: flex;
    gap: 30px;
    justify-content: center;
  }

  li {
    position: relative;
    &:hover::after {
      width: 100%;
      left: 0;
      transform: translateX(0%);
    }
  }

  li::after {
    content: "";
    background-color: var(--green);
    width: 0%;
    position: absolute;
    height: 3px;
    top: 105%;
    left: 50%;
    transform: translateX(50%);
    transition: all 0.5s;
  }
}




