@use "./breakpoint" as u;

.logros {
  ul {
    max-width: 600px;
    padding: 2rem;
    display: flex;
    flex-direction: column;
    gap: 25px;
    color: var(--milk-white);
    border: 1px solid var(--milk-white);
    border-radius: var(--border-big);
    margin-inline: auto;
    width: calc(100% - 2rem);

    @include u.breakpoints-down(small){
      width: 100%;
    }

    li {
      position: relative;
      text-indent: 20px;
      line-height: 1.6;
    }

    .boll {
      display: block;
      background-color: #23d997;
      width: 15px;
      height: 15px;
      border-radius: 100%;
      position: absolute;
      left: 0;
      top: 5px;
    }
  }

  .highlight {
    color: #23d997;
  }
}


.cv {
  margin-top: 1.5rem;
  color: var(--milk-white);
  display: block;
  cursor: pointer;
  display: flex;
  align-items: center;
  position: relative;
  width: fit-content;
  
  @include u.breakpoints(medium) {
    margin-left: var(--padding-lef-double);
  }

 
  gap: 5px;
  img {
    width: 50px;
  }

  &:hover::after {
    width: 100%;
    left: 0;
    transform: translateX(0%);
  }

  &::after {
    content: "";
    background-color: var(--green);
    width: 0%;
    position: absolute;
    height: 3px;
    top: 105%;
    left: 50%;
    transform: translateX(50%);
    transition: all 0.5s;
  }
}